In [1]:
import pandas as pd
df = pd.read_csv('clean_data1.csv')
df = df.drop(['Resume'],axis=1)
df.rename(columns={'newer_res':'Resume'},inplace=True)



#some cleaning
from io import StringIO
col = ['Category', 'Resume']
df = df[col]
df = df[pd.notnull(df['Resume'])]
df.columns = ['Category', 'Resume']
df['category_id'] = df['Category'].factorize()[0]
category_id_df = df[['Category', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'Category']].values)

df.head()

  Category                                             Resume  category_id
0       HR  john h. smith , p.h.r . 800-991-5187 | po box ...            0
1       HR  name surname address mobile no/email personal ...            0
2       HR  anthony brown hr assistant areas of expertise ...            0
3       HR  www.downloadmela.com satheesh email id : caree...            0
4       HR  human resources director expert organizational...            0

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

tv = TfidfVectorizer(min_df=0., max_df=1., use_idf=True)
tv_matrix = tv.fit_transform(df.Resume)
tv_matrix = tv_matrix.toarray()

vocab = tv.get_feature_names()
pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)

,00,000,0000,00000,000000,0000ga,0000jilljack,0000karennesbit,0000mike,0000phphysi,...,zulu,zulux,zur,zurich,zusammenarbeit,zwart,zwischen,zwitserloot,zxy,zzz
0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.06,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1195,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1196,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1197,0.0,0.00,0.06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1198,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_matrix = cosine_similarity(tv_matrix)
similarity_df = pd.DataFrame(similarity_matrix)
similarity_df

,0,1,2,3,4,5,6,7,8,9,...,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198
0,1.000000,0.104999,0.201553,0.159199,0.284477,1.000000,0.151056,0.223804,0.196782,0.238909,...,0.020731,0.022092,0.019829,0.018603,0.041932,0.019674,0.019657,0.019752,0.016425,0.080376
1,0.104999,1.000000,0.231493,0.127945,0.080738,0.104999,0.110399,0.172643,0.141095,0.110324,...,0.010675,0.017591,0.019169,0.008034,0.032948,0.012206,0.034001,0.008180,0.007243,0.077620
2,0.201553,0.231493,1.000000,0.227205,0.138003,0.201553,0.254041,0.258902,0.270116,0.234191,...,0.029754,0.046661,0.030284,0.011422,0.033747,0.033563,0.043886,0.014124,0.019152,0.117399
3,0.159199,0.127945,0.227205,1.000000,0.155789,0.159199,0.280783,0.227795,0.254683,0.171771,...,0.013736,0.034124,0.028190,0.013878,0.028134,0.037894,0.023809,0.012595,0.011615,0.087729
4,0.284477,0.080738,0.138003,0.155789,1.000000,0.284477,0.154406,0.229720,0.218565,0.182467,...,0.021578,0.023429,0.042046,0.014507,0.038920,0.023205,0.021119,0.037424,0.014285,0.099842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,0.019674,0.012206,0.033563,0.037894,0.023205,0.019674,0.045708,0.034020,0.035512,0.034878,...,0.365063,0.233700,0.185749,0.087965,0.199501,1.000000,0.434808,0.124977,0.105144,0.050892
1195,0.019657,0.034001,0.043886,0.023809,0.021119,0.019657,0.026155,0.029770,0.027253,0.042689,...,0.515812,0.256797,0.221277,0.111744,0.203672,0.434808,1.000000,0.151187,0.128745,0.046681
1196,0.019752,0.008180,0.014124,0.012595,0.037424,0.019752,0.021866,0.029207,0.023882,0.008969,...,0.130089,0.051233,0.229194,0.288421,0.057829,0.124977,0.151187,1.000000,0.177897,0.026586
1197,0.016425,0.007243,0.019152,0.011615,0.014285,0.016425,0.019778,0.015549,0.011868,0.009977,...,0.148878,0.072447,0.189117,0.313533,0.080546,0.105144,0.128745,0.177897,1.000000,0.015808
1198,0.080376,0.077620,0.117399,0.087729,0.099842,0.080376,0.103937,0.108439,0.127095,0.089478,...,0.043343,0.059517,0.048237,0.017677,0.057218,0.050892,0.046681,0.026586,0.015808,1.000000

In [4]:
from scipy.cluster.hierarchy import dendrogram, linkage
Z = linkage(similarity_matrix, 'ward')

In [5]:
from scipy.cluster.hierarchy import fcluster
max_dist = 10

cluster_labels = fcluster(Z, max_dist, criterion='distance')
cluster_labels = pd.DataFrame(cluster_labels, columns=['ClusterLabel'])
pd.concat([df, cluster_labels], axis=1)

,Category,Resume,category_id,ClusterLabel
0,HR,"john h. smith , p.h.r . 800-991-5187 | po box ...",0,9
1,HR,name surname address mobile no/email personal ...,0,9
2,HR,anthony brown hr assistant areas of expertise ...,0,5
3,HR,www.downloadmela.com satheesh email id : caree...,0,9
4,HR,human resources director expert organizational...,0,9
...,...,...,...,...
1194,Aviation,free flight attendant resume darlene flint 809...,24,2
1195,Aviation,corporate flight attendant resume caitlin flan...,24,2
1196,Aviation,"major conrad a. preedom 2354 fairchild dr. , s...",24,2
1197,Aviation,stacy sample 702 800-0000 cell 0000 @ email.co...,24,2
1198,Aviation,entry level resume guide this packet intended ...,24,7